header {
  margin: 2%;
}
dd {
  margin: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.homeBody {
  width: 45%;
  position:relative;
  top:0%;
  left:0%;

  margin: 2%;
}

.programmingArticle {
  width: 45%;
  position:relative;
  top:0%;
  left:0%;

  margin: 2%;
}

.tab {
  text-indent:15px;
}
