body {
  margin: 1em;
  padding: 1em;
  background-color: rgb(241, 241, 241);
}

@media screen and (min-width: 1px) {
  html {
    font-size: 16px;
    line-height: 2em;
  }

  #article {
    margin-top: 1em;
    border: 2px solid rgb(140, 194, 227);
    border-radius: 0.5em;
    width: auto;

    font-family: "Arial Narrow", Arial, sans-serif;
  }

  #article img {
    width: 100%;
  }

  #quote {
    font-style: italic;
    font-size: 125%;
    font-family: "Arial Narrow", Arial, sans-serif;
    color: rgb(98, 135, 158);
    border-bottom: 1px solid rgb(98, 135, 158);
    width: auto;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: -1.5em;

    grid-auto-flow: row;
    /*grid-template-rows: repeat(1,auto);*/
  }

  .cards li {
    flex: 1 1 25em;
    padding: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: 2px solid rgb(98, 135, 158);
    background-color: rgb(208, 208, 232);
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
    line-height: 1.5em;
  }

  #article {
    margin-top: 1em;
    border: 2px solid rgb(140, 194, 227);
    border-radius: 0.5em;
    width: 75%;

    font-family: "Arial Narrow", Arial, sans-serif;
  }

  #article img {
    width: 50%;
  }

  #quote {
    font-style: italic;
    font-size: 125%;
    font-family: "Arial Narrow", Arial, sans-serif;
    color: rgb(98, 135, 158);
    border-bottom: 1px solid rgb(98, 135, 158);
    width: 75%;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: -1.5em;
  }

  .cards li {
    flex: 1 1 15em;
    padding: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    max-width: 20em;
    border: 2px solid rgb(98, 135, 158);
    background-color: rgb(208, 208, 232);
  }
}

#header {
  /*background-color: rgb(66, 245, 194);*/
  background-color: rgb(186, 218, 238);
  color: rgb(84, 92, 89);
  padding: 1em;
  font-size: 100%;
  line-height: 250%;
  font-family: "Arial Narrow", Arial, sans-serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

nav a {
  flex: 1 1 200px;
  background-color: rgb(98, 135, 158);
  color: white;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 0.3em;
  margin: 1em;
  max-width: 7em;
}

h3 {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 125%;
  margin: 1em;
}

article p {
  font-size: 100%;
  text-indent: 1em;
  margin: 1em;
}

article h2 {
  font-size: 150%;
  margin: 1em;
}

article h3 {
  font-size: 125%;
  margin: 1em;
}

.article-cards {
  margin-top: 1em;
  border: 2px solid rgb(140, 194, 227);
  border-radius: 0.5em;
  width: auto;
  font-family: "Arial Narrow", Arial, sans-serif;
}

.cards li h2 {
  color: rgb(98, 135, 158);
}

.cards li img {
  max-width: 15em;
  max-height: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


footer {
  font-size: 75%;
  font-family: "Arial Narrow", Arial, sans-serif;
  margin-top: 5em;
  background-color: rgb(98, 135, 158);
  color: white;
  font-weight: bold;
  text-align: center;
}
